<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0" *transloco="let t">
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-30">
                <img src="assets/images/logo_silvestre/economico.png" title="Logo">
            </div>

            <!-- Title -->
            <div class="mt-8 text-2xl font-extrabold tracking-tight leading-tight">{{t('registro.regist_de_proveedores')}}</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>{{t('regsitro.ya_tienes_cuenta')}}</div>
                <a class="ml-1 text-accent hover:underline" [routerLink]="['/sign-in']">{{t('registro.iniciar_sesion')}}
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <form class="mt-8" [formGroup]="fg">
                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>{{t('registro.ruc_codigo')}}</mat-label>
                    <input id="name" matInput [formControlName]="'ruc'" placeholder="{{t('registro.ruc_codigo')}}">
                </mat-form-field>

                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>{{t('registro.razon_social')}}</mat-label>
                    <input id="email" matInput [formControlName]="'razonSocial'" placeholder="{{t('registro.razon_social')}}">
                </mat-form-field>

                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>{{t('registro.categoria')}}</mat-label>
                    <mat-select [formControlName]="'categoria'" placeholder="{{t('registro.categoria')}}" multiple>
                        <mat-option *ngFor="let item of category" [value]="item.id">{{item.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>{{t('registro.tip_proveed')}}</mat-label>
                    <mat-select placeholder="{{t('registro.tip_proveed')}}" formControlName="idTipoProveedor">
                        <mat-option *ngFor="let item of tipoProv" [value]="item.id">{{ item.nombre
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>{{t('registro.nombre_contacto')}}</mat-label>
                    <input id="email" matInput [formControlName]="'nombres'" placeholder="{{t('registro.nombre_contacto')}}">
                </mat-form-field>


                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>{{t('registro.apellido_contacto')}}</mat-label>
                    <input id="email" matInput [formControlName]="'apellidos'" placeholder="{{t('registro.apellido_contacto')}}">
                </mat-form-field>

                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>{{t('registro.area')}}</mat-label>
                    <input id="company-confirm" matInput [formControlName]="'area'" placeholder="{{t('registro.area')}}">
                </mat-form-field>

                <mat-form-field class="w-full fuse-mat-dense">
                    <mat-label>{{t('registro.email_contacto')}}</mat-label>
                    <input id="company-confirm" class="normal-case" matInput [formControlName]="'correo'" placeholder="{{t('registro.email_contacto')}}">
                </mat-form-field>

                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'aceptaPolitias'" (ngModelChange)="openModal($event)">
                        <a class="text-accent font-bold hover:underline" [routerLink]="['./']">{{t('registro.politicas')}}
                        </a>
                    </mat-checkbox>
                </div>

                <!-- <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox class="-ml-2" [color]="'primary'" [formControlName]="'aceptaEnvio'">
                        <a class="text-accent font-bold hover:underline" [routerLink]="['./']">Acepto el envío de Cortesias,
                            Ofertas, Promociones y otros fines adicionales.
                        </a>
                    </mat-checkbox>
                </div> -->

                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="fg.invalid || fg.disabled" (click)="doRegister()">
                    <span *ngIf="!fg.disabled">
                        {{t('btn.crear_solicitud')}}
                    </span>
                    <mat-progress-spinner *ngIf="fg.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-accent dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <!-- <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg> -->
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>{{t('registro.titulo')}}</div>
            </div>
        </div>
    </div>
</div>
