<div class="w-full" *transloco="let t">
    <div class="flex flex-col">
        <h1 class="mt-3 text-2xl font-light tracking-tight text-slate-900 flex justify-between mb-4">
            <span class="flex items-center gap-2">
                <mat-icon class="text-semibold">inventory</mat-icon>
                {{t('homo.subtitulo')}}
            </span>

            <button mat-raised-button color="primary" *ngIf="user.isProvider && !currentProvider.homilogaciom"
                (click)="finalizar()">
                Finalizar Homologación
            </button>
        </h1>
    </div>

    <div class="flex flex-col mt-2">
        <h2 class="font-bold w-full flex justify-end mb-4 items-end -mt-12" *ngIf="user.isAdmin">
            <button mat-raised-button color="primary" (click)="sendGaf()">
                {{t('gaf')}}
            </button>
        </h2>

        <ng-container *ngFor="let survey of surveys; let i = $index">
            <h2 class="font-bold mt-3 w-full flex justify-between mb-4 items-end">{{ survey.bloque }}</h2>

            <div *ngFor="let i of survey.questions; let ii = $index" class="w-full px-2 py-4 pb-0 rounded my-2"
                [ngClass]="{ 'bg-white': !i.error, 'bg-red-100': i.error }">
                <div class="flex justify-between items-center">
                    <h2 class="font-semibold">
                        <ng-container *ngIf="i.requerido">
                            <span
                                class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">{{t('required')}}</span>
                            <br />
                        </ng-container>
                        {{ i.pregunta }}
                    </h2>
                    <!-- adjunto view -->
                    <p *ngIf="i.archivoPre && !user.isAdmin" class="flex mb-3 items-center gap-2">
                        <a class="flex items-center text-xxs gap-2 bg-primary pl-2 pr-2"
                            (click)="descargaArchivoPregunta(i)" [matTooltipPosition]="'left'"
                            [matTooltip]="i.archivoPre ? i.archivoPre : ''">
                            <span class="cursor-pointer">{{t('download')}}</span>
                            <mat-icon style="color: white;width: 0.8rem;"
                                class="cursor-pointer">file_download</mat-icon>
                        </a>
                    </p>
                </div>
                <div class="mt-3">
                    <!-- descarga archivo -->
                    <ng-container>
                        <div class="mb-2 relative" *ngIf="needCondition(i.idTipo)">
                            <div style="position: absolute;top: 0;left: 0;width: 300px;height: 50px;z-index: 9;"
                                *ngIf="user.isAdmin"></div>
                            <mat-radio-group [(ngModel)]="i.condicion">
                                <mat-radio-button [value]="true">{{t('yes')}}</mat-radio-button>
                                <mat-radio-button [value]="false">{{t('no')}}</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <ng-container *ngIf="needFile(i.idTipo)">
                            <div class="mb-2 relative" *ngIf="i.archivoRes">
                                <p class="flex mb-3 items-center gap-2">
                                    {{ i.archivoRes ? i.archivoRes : '' }}
                                    <a (click)="descargarArchivo(i)" *ngIf="i.idRespuesta">
                                        <mat-icon class="cursor-pointer">file_download</mat-icon>
                                    </a>

                                    <mat-icon class="cursor-pointer" *ngIf="!user.isAdmin"
                                        (click)="clearFile(i)">close</mat-icon>
                                </p>
                            </div>

                            <ng-container *ngIf="needCondition(i.idTipo) && i.condicion">
                                <ng-container *ngIf="!i.archivoRes">
                                    <div class="w-full fuse-mat-dense flex flex-col gap-1 mb-4 max-w-[160px]"
                                        *ngIf="needFile(i.idTipo)">
                                        <div class="file-select" [attr.id]="'file_' + ii + i"
                                            (change)="onFileSelectedRes($event, i)">
                                            <input type="file" [attr.name]="'file_' + ii + i" aria-label="Archivo" />
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="!needCondition(i.idTipo)">
                                <ng-container *ngIf="!i.archivoRes">
                                    <div class="w-full fuse-mat-dense flex flex-col gap-1 mb-4 max-w-[160px]"
                                        *ngIf="needFile(i.idTipo)">
                                        <div class="file-select" [attr.id]="'file_' + ii + i"
                                            (change)="onFileSelectedRes($event, i)">
                                            <input type="file" [attr.name]="'file_' + ii + i" aria-label="Archivo" />
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>


                        <ng-container *ngIf="withResponse(i.idTipo)">
                            <ng-container *ngIf="!needFile(i.idTipo)">
                                <mat-form-field class="w-full fuse-mat-dense">
                                    <input matInput [(ngModel)]="i.respuesta" [readonly]="user.isAdmin"
                                        placeholder="" />
                                </mat-form-field>
                            </ng-container>
                        </ng-container>


                        <ng-container *ngIf="i.idTipo == 8">
                            <mat-form-field class="w-full custom-chip fuse-mat-dense">
                                <mat-label>{{t('placeholder.newclient')}}</mat-label>
                                <mat-chip-grid #reactiveChipGrid [(ngModel)]="i.respuesta" [readonly]="user.isAdmin">
                                    @for (keyword of i.respuesta; track keyword) {
                                    <mat-chip-row (removed)="removeReactiveKeyword(i, keyword)">
                                        {{keyword}}
                                        <button matChipRemove [disabled]="user.isAdmin">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip-row>
                                    }
                                </mat-chip-grid>
                                <input class="w-full" [disabled]="user.isAdmin"
                                    [placeholder]="t('placeholder.companyname')" [matChipInputFor]="reactiveChipGrid"
                                    (matChipInputTokenEnd)="addReactiveKeyword(i, $event)" />
                            </mat-form-field>
                        </ng-container>
                    </ng-container>

                    <div class="flex justify-between items-center" *ngIf="userService.isAdmin && i.verficacion">
                        <ng-container *ngIf="i.valido == null">
                            <mat-checkbox class="example-margin" [disabled]="i.valido != null"
                                [(ngModel)]="i.verficacionVal">{{t('verify_field')}}</mat-checkbox>
                            <button class="mb-3" mat-raised-button color="primary" [disabled]="!i.verficacionVal"
                                (click)="validarEncuesta(i)">
                                {{t('verify_update')}}
                            </button>
                        </ng-container>

                        <span *ngIf="i.valido != null"
                            class="mb-4 bg-green-100 text-green-800 text-sm font-bold me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Verificado</span>
                    </div>
                </div>

                <ng-container *ngIf="user.isProvider">
                    <button *ngIf="i.idRespuesta" class="mb-3" mat-raised-button color="accent" (click)="saveItem(i)">
                        <mat-icon>save</mat-icon>
                        {{ !i.loading ? t('btn.act_resp') : t('btn.procen') }}
                    </button>

                    <button *ngIf="!i.idRespuesta" class="mb-3" mat-raised-button color="primary" (click)="saveItem(i)">
                        <mat-icon>save</mat-icon>
                        {{ !i.loading ? t('btn.grabar') : t('btn.procen') }}
                    </button>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <div class="flex justify-end mt-5 gap-3">
        <button mat-raised-button color="primary" *ngIf="user.isProvider && !currentProvider.homilogaciom"
            (click)="finalizar()">
            {{t('finish_homologation')}}
        </button>

        <button mat-raised-button color="primary" (click)="sendGaf()" *ngIf="user.isAdmin">
            {{t('gaf')}}
        </button>

        <!-- <ng-container *ngIf="user.isAdmin">
            <div class="flex w-full gap-2 justify-end">
                <button mat-raised-button color="warn" [disabled]="!user.isAdmin">{{t('reject')}}</button>

                <button mat-raised-button color="primary" [disabled]="!user.isAdmin">{{t('accept')}}</button>
            </div>
        </ng-container> -->
    </div>
</div>
