<div>
    <button class="flex justify-end w-full" (click)="closeModal()">
        <mat-icon [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
    </button>
    <p class="text-justify mt-2">
        Grupo Silvestre informa a los Proveedores que, en cumplimiento de lo dispuesto en la Ley N° 29733 - Ley de Protección de
        Datos Personales; su Reglamento aprobado mediante Decreto Supremo N° 033- 2013-JUS, y las demás Disposiciones
        Complementarias y/o
        Modificatorias, el Proveedor autoriza expresamente a Grupo Silvestre a incorporar su
        información al banco de datos de Proveedores de responsabilidad de Grupo Silvestre,
        para fines estadísticos, administrativos y de gestión comercial.
        El Proveedor acepta mantener permanentemente actualizada su información, asimismo,
        El Proveedor podrá ejercer
        sus derechos de información, acceso, rectificación, cancelación y oposición de sus datos personales, en cualquier
        momento, presentando su solicitud
        a través del correo
        <a href="http://notificaciones@gruposilvestre.com.pe" target="_blank" rel="noopener noreferrer">
        notificaciones{{'@'}}gruposilvestre.com.pe</a>
    </p>
</div>
