<div class="w-full" *transloco="let t">

    <div class="flex flex-col">
        <h1 class="mt-3 text-2xl font-light tracking-tight text-slate-900 flex justify-between mb-4">

            <span class="flex items-center gap-2">
                <mat-icon class="text-semibold">group</mat-icon>
                {{t('contac.subtitulo')}}
            </span>
            <button *ngIf="user.isProvider" mat-raised-button color="primary"
                (click)="addModal()">{{t('btn.nuevo_contacto')}}</button>
        </h1>
    </div>

    <div class=" p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
        role="alert" *ngIf="user.isProvider">
        {{t('required.contacts')}}
    </div>

    <div class="flex flex-col">
        <div class="w-full mt-3">
            <table mat-table [dataSource]="dataSource" class="w-full">
                <ng-container matColumnDef="names">
                    <th mat-header-cell *matHeaderCellDef> {{t('contac.Nombres')}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombres}} {{element.apellidos}}</td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> {{t('contac.cargo')}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> {{t('contact.telef')}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> {{t('contac.email')}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                </ng-container>

                <ng-container matColumnDef="document">
                    <th mat-header-cell *matHeaderCellDef> {{t('contac.tip_per')}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>

                <ng-container matColumnDef="principal">
                    <th mat-header-cell *matHeaderCellDef> {{t('contac.princp')}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.principal ? 'SI' : 'NO'}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef [hidden]="!user.isProvider"> {{t('contac.accions')}} </th>
                    <td mat-cell *matCellDef="let element" [hidden]="!user.isProvider">
                        <div class="flex justify-start gap-1">
                            <a (click)="updateModal(element)">
                                <mat-icon class="cursor-pointer material-symbols-outlined">edit</mat-icon>
                            </a>
                            <a (click)="deleteContact(element.id)">
                                <mat-icon class="cursor-pointer material-symbols-outlined">delete</mat-icon>
                            </a>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div class="w-full justify-end">
                <mat-paginator showFirstLastButtons [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>
